@use '@/app/styles/breakpoints';

.search__form {
  max-width: 980px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  margin-bottom: 20px;
}

.search__form-field {
  position: relative;
  span {
    width: 0;
    transition: width 0.3s ease-in-out;
  }
}

.field__input-from,
.field__input-to,
.date-picker {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  background: none;
  color: var(--color-text);
  font-size: 1.1em;
  border-radius: 4px;
  z-index: 1;
}

.react-datepicker-wrapper {
  width: 100%;
}

input:focus + span {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%;
  height: 2px;
  background-color: var(--color-primary);
  pointer-events: none;
}

.search__form-button {
  font-size: 1.1em;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
}
@media screen and (min-width: breakpoints.$sm) {
  .search__form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
  }
  .search__form-field input-from {
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .date__picker-field {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .search__form-button {
    height: 100%;
    border-radius: 0 0 8px 0;
    grid-column: 1 / 3;
    grid-row: 3;
  }
}

@media screen and (min-width: breakpoints.$md) {
  .search__form {
    height: 58px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }
  .search__form-button {
    display: block;
    height: 100%;
    flex: 0 0 150px;
    border-radius: 0 8px 8px 0;
  }
}
