@use '@/app/styles/breakpoints';

.navigation {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {

    a {
      position: relative;
      padding: 0 10px;
      font-size: 1.2em;
      text-decoration: none;
      color: var(--color-text);
      transition: all 0.3s ease;

      &::before {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        transition: background-color 0.3s ease;
      }

      &:hover {
        color: var(--color-primary);
      }
    }

    a.active {
      color: var(--color-primary);
      margin-left: 10px;

      &::before {
        background-color: var(--color-primary);
      }
    }
  }
}

@media screen and (min-width: breakpoints.$lg) {
  .navigation {
    display: flex;
    align-items: center;

    &__list {
      flex-direction: row;
      align-items: center;
    }

    &__item {
      a {
        font-size: 1em;

        &::before {
          display: none;
        }
      }

      a.active {
        margin-left: 0;
      }
    }
  }
}
