.theme-toggle {
  position: relative;
  display: inline-block;
}

.theme-toggle-button {
  display: flex;
  justify-content: space-between;
  width: 60px;
  background-color: #8855ff;
  border: none;
  border-radius: 20px;
  padding: 4px 8px;
  cursor: pointer;
}

.theme-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 32px;
  background-color: #fff;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

[data-theme='dark'] .theme-slider {
  transform: translateX(30px);
}

#sun-icon,
#moon-icon {
  z-index: 1;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}
#moon-icon {
  color: #fff;
}

#sun-icon {
  color: #e7db30;
}

[data-theme='dark'] #sun-icon {
  transform: rotate(180deg);
  color: #fffb00;
}

[data-theme='dark'] #moon-icon {
  transform: rotate(360deg);
  color: #8855ff;
}
