.dashboard-nav__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .dashboard-nav__item {

    a {
      position: relative;
      padding-left: 10px;
      color: var(--color-text);
      transition: all 0.3s ease;

      &::before {
        content: '';
        width: 2px;
        height: 100%;
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease;
      }

      &.active {
        color: var(--color-primary);

        &::before {
          background-color: var(--color-primary);
        }
      }

      &:hover {
        color: var(--color-primary);
      }
    }
  }
}
