.dashboard-nav__list {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .dashboard-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: var(--color-primary);

    a {
      color: var(--color-text);
    }
  }
}
